.posts{
    /* flex: 9; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    /* align-items: center; */
    /* margin: 20px; */
}
@media screen and (max-width:650px) {
    .posts
    {
        padding: 0;
    }
}